<ion-view hide-back-button="true" title="Settings">

<!--   <ion-nav-buttons side="right">
    <button class="button" ng-click="save()">
      Save
    </button>
  </ion-nav-buttons> -->

  <ion-content>


    <ul class="list">

      <li class="item item-toggle">
         Metric
         <label class="toggle toggle-positive">
           <input type="checkbox" ng-model="form.metric">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Cold water
         <label class="toggle toggle-positive">
           <input type="checkbox" ng-model="form.cold">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>


  </ion-content>

</ion-view>
